<canvas id="piechart"></canvas>
<script>
    var ctx = document.getElementById("piechart").getContext("2d");
    var piechart = new Chart(ctx, {
        type: "pie",
        data: {
            labels: {{ n_labels | safe }},
            datasets: [
                {   
                    label: "Mots Clés",
                    data: {{ n_values | safe }},
                    backgroundColor: ["#BF616A", "#D08770", "#EBCB8B", "#A3BE8C", "#B48EAD"]                                
                }
            ]
        },
        options: {
            legend: {
                labels: {
                    fontColor: "black"
                }
            }
        }
    });
</script>